img{
    display: block;
    max-width: 100%;
}

.breed-select{
    margin: 40px 10px;
    width: 50px;
    height: 32px;
}

.is-hidden{
    position: absolute;
    overflow:hidden;
    padding: 0;
    margin: -1;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
}
.cat-info{
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
   }
.box{
    width: 320px;
}